/* *** common *** */

*common {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* *** nav *** */

.scrool {
    width: 200px;
    height: 200px;
    background-color: green;
    border: 3px solid blue;
    position: fixed;
    top: 20px;
    right: 10px;
}


.scrool li {
    display: inline-block;
    margin-right: 30px;
}

.scrool span {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}



.container {
    width: 100%;
    height: 100%;
    position: relative;
}  



.box {
    width: 100%;
    height: 100vh;
    background-color: red;
    border: 3px solid black;
    
}
